body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  column-span: all;
}

h2 {
  font-size: 1.2rem;
  color: red;
  letter-spacing: 1px;
}

a {
  color: teal;
}

a:hover {
  color: orange;
}

p {
  line-height: 1.5;
  break-after: column;
}

article {
  column-width: 550px;
  gap: 20px;
}

.container {
  width: 960px;
  margin: 3em;
}

.column {
  display: inline-block;
  width: 33%;
  box-sizing: border-box;
  padding-right: 2em;
}

caption {
  background-color: #ccc;
  padding: 1em;
}

th {
  background-color: #ddd;
  padding: 1em;
}

td {
  padding: 1em;
}

tr:nth-child(odd) {
  background-color: #eee;
}

li {
  list-style-type: none;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  border: 1px solid rgba(0, 0, 0, .125);
}
