body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  column-span: all;
}

h2 {
  font-size: 1.2rem;
  color: red;
  letter-spacing: 1px;
}

p {
  line-height: 1.5;
  break-after: column;
}

article {
  column-width: 550px;
  gap: 20px;
}

.container {
  width: 960px;
  margin: 3em;
}

.column {
  display: inline-block;
  width: 33%;
  box-sizing: border-box;
  padding-right: 2em;
}

a {
  color: teal;
}

a:hover {
  color: orange;
}

li {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
}

caption {
  background-color: #ccc;
  padding: 1em;
}

th {
  background-color: #ddd;
  padding: 1em;
}

td {
  padding: 1em;
}

tr:nth-child(odd) {
  background-color: #eee;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 20px;
}

.grid-item-a {
  grid-area: 1 / 1 / 2 / 2;
}

.grid-item-b {
  grid-area: 1 / 2 / 2 / 3;
}

.grid-item-c {
  grid-area: 1 / 3 / 2 / 4;
}

.grid-item-d {
  grid-area: 2 / 1 / 3 / 2;
}

.grid-item-e {
  grid-area: 2 / 2 / 3 / 3;
}

.grid-item-f {
  grid-area: 2 / 3 / 3 / 4;
}

.grid-item-g {
  grid-area: 3 / 1 / 4 / 2;
}

.grid-item-h {
  grid-area: 3 / 2 / 4 / 3;
}

.grid-item-i {
  grid-area: 3 / 3 / 4 / 4;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  align-content: start;
}

.flex-item {
  flex: 0 0 auto;
  margin: 10px;
}
