:host ::ng-deep .p-corner-all {
  border-radius: 0;
}

#sidenav {
  height: 100%;
  position: fixed;
  top: 70px;
  padding-left: 0;
  padding-top: 1em;
  background-color: #2d353c;
}

#side-gutter {
  width: 340px;
}

:host ::ng-deep .p-menuitem-link-active {
  background-color: #249d77 !important;
}
