label {
  margin-top: 5px;
}

button {
  margin-top: 1em;
}

p-radioButton {
  display: block;
  margin: .7em;
}

:host p-listbox ::ng-deep .p-listbox {
  width: 100%;
}

:host p-listbox ::ng-deep .p-listbox-list-wrapper {
  height: 250px;
}

.avatar {
  float: left;
  margin: 5px;
}

.devName {
  font-size: xx-large;
  display: inline-block;
  margin: 15px 10px 0 10px;
  min-height: 100px;
}

p-rating {
  font-size: xx-large;
}

#ratingLabel {
  margin-top: 20px;
}
