i.pi {
  font-size: 2rem;
}

#header {
  background-color: #f0f3f5;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}

#content-body {
  padding-top: 120px;
  position: absolute;
  left: 190px;
}

@media only screen and (max-width: 1000px) {
  #content-body {
    left: 80px;
  }
}
