<div class="p-grid">
  <p-table #dt
           [columns]="columns"
           [value]="timesheetData"
           (onRowSelect)="onRowSelect()"
           (onHeaderCheckboxToggle)="onRowSelect()"
           [(selection)]="selectedRows"
           [paginator]="true"
           [showCurrentPageReport]="true"
           [pageLinks]="8"
           [rowsPerPageOptions]="[5,10,15,20]"
           [rows]="5"
           [totalRecords]="timesheetData.length"
           [sortOrder]="1"
           sortField="startTime"
           class="p-col-12">
    <ng-template pTemplate="caption">
      <div class="header p-d-flex p-ai-center p-jc-between">
        <h2>
          Timesheets
        </h2>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="selectBoxColumn" scope="col">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th *ngFor="let column of columns"
            [pSortableColumn]="column.field"
            scope="col">
          {{column.header}}
          <p-sortIcon [field]="column.field"></p-sortIcon>
        </th>
      </tr>
      <tr>
        <th scope="col">&nbsp;</th>
        <th *ngFor="let column of columns"
            scope="col">
          <ng-container *ngIf="column.field === 'project'">
            <p-dropdown
              (onChange)="dt.filter($event.value,column.field, 'equals')"
              [options]="projects"
              appendTo="body"
              styleClass="p-column-filter"></p-dropdown>
          </ng-container>
        </th>
      </tr>
    </ng-template>
    <ng-template let-rowData pTemplate="body">
      <tr>
        <td class="selectBoxColumn">
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>
        <ng-container *ngFor="let column of columns">
          <td [ngSwitch]="column.type">
            <ng-container *ngSwitchCase="'time'">
              {{rowData[column.field] | date: 'HH:mm'}}
            </ng-container>
            <ng-container *ngSwitchCase="'date'">
              {{rowData[column.field] | date}}
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{rowData[column.field]}}
            </ng-container>
          </td>
        </ng-container>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <label for="tableSearch">Search: </label>
      <input
        (input)="applyFilterGlobal($event)"
        id="tableSearch"
        pInputText
        placeholder="Enter search query"
        type="text">
      <button (click)="dt.exportCSV()"
              class="p-ml-1"
              icon="pi pi-table"
              label="Export"
              pButton
              type="button"></button>
    </ng-template>
  </p-table>
</div>
