.header {
  padding: 1em;
  color: white;
  background-color: #0275D8;
  margin-bottom: 1em;
}

h2 {
  font-weight: bolder;
  font-size: xx-large;
  display: inline;
}

.selectBoxColumn {
  width: 43px;
}
